@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 188.7 36% 95%;
    --foreground: 188.7 5% 0%;
    --card: 188.7 36% 90%;
    --card-foreground: 188.7 5% 10%;
    --popover: 188.7 36% 95%;
    --popover-foreground: 188.7 95% 0%;
    --primary: 188.7 94.5% 42.7%;
    --primary-foreground: 0 0% 100%;
    --secondary: 188.7 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 150.7 30% 85%;
    --muted-foreground: 188.7 5% 35%;
    --accent: 150.7 30% 80%;
    --accent-foreground: 188.7 5% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 188.7 5% 90%;
    --border: 188.7 30% 50%;
    --input: 188.7 30% 18%;
    --ring: 188.7 94.5% 42.7%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 188.7 36% 5%;
    --foreground: 188.7 5% 90%;
    --card: 188.7 36% 0%;
    --card-foreground: 188.7 5% 90%;
    --popover: 188.7 36% 5%;
    --popover-foreground: 188.7 5% 90%;
    --primary: 188.7 94.5% 42.7%;
    --primary-foreground: 0 0% 100%;
    --secondary: 188.7 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 150.7 30% 15%;
    --muted-foreground: 188.7 5% 60%;
    --accent: 150.7 30% 15%;
    --accent-foreground: 188.7 5% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 188.7 5% 90%;
    --border: 188.7 30% 18%;
    --input: 188.7 30% 18%;
    --ring: 188.7 94.5% 42.7%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

::-webkit-scrollbar {
  display: none;
}
